[class*="button"] {
  background: $coral;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  padding: 12px 15px;
  &:hover {
    background: darken($coral, 5%);
    color: white;
  }
}


.button--inverted {
  border: 1px solid $green;
  background: none;
  color: $green;
  &:hover {
    background: none;
    border-color: darken($green, 5%);
    color: darken($green, 5%);
  }
}

