[class*="button"] {
    background: $coral;
    color: white;
    display: inline-block;
    font-size: 1em;
    letter-spacing: .05em;
    padding: 12px 15px;
    &:hover {
        background: darken($coral, 5%);
        color: white;
    }
}

.button--inverted {
    border: 1px solid $green;
    background: none;
    color: $green;
    &:hover {
        background: $green;
        color: white;
    }
}