/*
  In our example, we code our default styling to the mobile screen. This keeps things simple by using the larger breakpoints to simply adjust the layout to better fill screen realestate.

  We don't want to use 'iPhone/Tablet/Desktop' as our breakpoint targets because these aren't the only devices out there. The content will tell you when it needs to be adjusted. Style for mobile then open your browser window up to the point where it looks goofy or the layout looks wrong. Thats your first breakpoint. Repeat as necessary. I usually use a small/medium/large approach.

*/

$medium: 600px;
$large: 1000px;
// ----------------------------------------- Hero

// --------------------------------------- Explore
.explore {
    h2 {
        color: $gray;
        font-size: .6em;
        margin: 0 0 15px;
        text-align: center;
    }
    h3 {
        color: $green;
        font-size: 5vw;
        letter-spacing: .08em;
        margin: 30px 0 10px;
        text-align: center;
    }
}

@media screen and (min-width: $medium) {
    .explore {
        h2 {
        font-size: 2vw;
    }
        h3 {
        font-size: 4vw;
        }
}
}


.adventures {
    padding: 10px;
    a {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        font-weight: bold;
        margin: 10px 0;
        padding: 40px 30px;
        position: relative;
        text-align: center;
        text-shadow: 0px 0px 20px black;
        width: 100%;
        h3 {
            color: $white;
            left: 0;
            margin: 0;
            padding: 25px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }
    }
}

@media screen and (min-width: $medium) {
    .adventures a {
        float: left;
        margin: 1%;
        padding: 50px 0;
        padding-top: 19%;
        width: 23%;
        h3 {
            font-size: 1.2em;
            margin: 0;
            top: 25%;
        }
    }
}

@media screen and (min-width: $large) {
    .adventures {
        padding: 10px 40px;
    }
}
#road {
    background-image: url('/images/road_trip.jpg');
}

#foods {
    background-image: url('/images/food.jpg');
}

#mountain {
    background-image: url('/images/hike.jpg');
}

#limits {
    background-image: url('/images/rush.jpg');
}

// --------------------------------------- Build
#build {
    background: url(/images/build.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px 0 60px 0;
    text-align: center;
    h3 {
        color: white;
        font-size: 1.5em;
        line-height: 1em;
        text-shadow: 0px 0px 20px black;
        text-transform: uppercase;
    }
    p {
        color: white;
        font-size: .8em;
        text-shadow: 0px 0px 20px black;
    }
}

@media screen and (min-width: $medium) {
    #build {
        text-align: left;
        clear: both;
    }
}

// --------------------------------------- Blog
.blog {
    .category {
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        .overlay {
            background: rgba(255, 255, 255, 0.85);
            padding: 30px 20px;
            line-height: 1em;
            text-align: center;
            h4 {
                font-size: 1.8em;
                margin-top: 0;
            }
            small {
            font-size: .8em
            }
        }
    }
}

#wander {
    background-image: url('/images/blog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tips {
    background-image: url('/images/tips.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#deals {
    background-image: url('/images/deals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: $medium) {
    .blog .category {
        float: left;
        margin: 10px;
        min-height: 250px;
        width: 29%;
        .overlay {
            h4 {
                font-size: 1.3em;
                line-height: 1.25em;
            }
            width: 63%;
            height: 275px;
        }
        .button--inverted {
            padding: 8px 10px;
        }
    }
}

@media screen and (min-width: $large) {
    .blog .category {
        float: left;
        margin: 10px;
        min-height: 250px;
        width: 29%;
        .overlay {
            h4 {
                font-size: 1.5em;
                line-height: 1.5em;
            }
            width: 45%;
            height: 300px;
        }
    }
}

// --------------------------------------- Newsletter

.newsletter {
    background: lighten($grey, 68%);
    padding: 50px 0 90px 0;
    text-align: center;
    .row {
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
        input#mce-EMAIL {
            border: 0;
            border-radius: 5px 5px 0 0;
            font-size: .8em;
            margin: 10px 0 0;
            padding: 12px 20px;
            text-align: center;
            width: 80%;
        }
        .button {
            border: 0;
            border-radius: 0 0 5px 5px;
            font-size: .8em;
            width: 80%;
        }
        h4 {
            color: $grey;
            font-size: 1.8em;
        }
        p {
            color: lighten($grey, 30%);
            font-size: .8em;
            line-height: 1.6;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }   
}

@media screen and (min-width: $large) {
    .newsletter .row {
        width: 45%;
        .overlay {
            h4 {
                font-size: 1.5em;
                line-height: 1.5em;
            }
            width: 45%;
            height: 300px;
        }
    }
}