// ------------------------------------------ Header
header {
    background: url(/images/camp-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0 12px 0;
    a {
        color: white;
        &:hover {
            color: white;
        }
        font-size: .8em;
    }
    h1 {
        font-size: 4vw;
        letter-spacing: .08em;
        line-height: 1.3;
        margin-bottom: 30px;
        text-align: center;
    }
}
.site-header h2 {
    color: $white;
    text-align: center;
    font-size: 4vw;
    margin: 0 0 10%;
}

@media screen and (min-width: $medium) {
    header {
        min-height: 300px;
    }
}

@media screen and (min-width: $large) {
    header {
        min-height: 500px;
        h1 {
            font-size: 3vw;
        }
    }
    .site-header h2 {
        font-size: 3vw;
    }
}


.nav-toggle {
    color: white;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: $medium) {
    .nav-toggle {
        font-size: 23px;
    }
    
}

// ------------------------------------------ Navigation
nav {
    background: $nav-background;
    overflow: hidden;
    @include transition (height 0.3s);
    &.hidden {
        height: 0;
    }
    &.visible {
        height: 200px;
    }
    @include media-query($small) {
        &.visible {
            height: 100px;
        }
    }
    ul {
        padding: 10px;
        li a {
            color: white;
            border-bottom: 1px solid $white;
            display: block;
            padding: 10px 0;
            &:hover {
                color: #DDD;
            }
        }
        li:last-child a {
            border-bottom: none;
        }
    }
    // ------------------------------------------ Desktop Navigation
    @include media-query($small) {
        ul li a {
            border: none;
            float: left;
            text-align: center;
            margin-top: 20px;
            width: $nav-item-width;
        }
    }
}
